@use "sass:color";

// Fonts
$font-family-poppins-sans-serif: "Poppins";

// Mides responsive web design
$break-extra-large: 1927px;
$break-large: 1600px;
$break-medium: 1360px;

// Colors
$bg-sidebar: #362c2b;
$accent: #f38d7b;
$accent2: #eea396;
$accent3: rgb(249, 202, 188);
$color-sidebar: rgb(255, 244, 239);
$color-intro: #492d2d;
$cv-font: #a88a85;
$cv-bg: #302827;
$progress-bar-bg: #443438;